h1{
    text-align:center;
    margin-bottom:80px;
}

table{
    margin-top:10px;
}

table th, table td{
    border:1px solid grey;
    padding:10px 15px;
    box-shadow:1px 1px 3px darkgrey;
}

table th{
    text-align:center;
    color:grey;
}

.stylePseudo{
    font-weight:800;
    font-style:italic;
    color:grey;
    text-shadow:0 1px 2px darkgrey;
}

#posFormSearch{
    height:150px;
    width:80%;
    margin-top:20px;
    margin-bottom:50px;
}

.posRetour{
    position:relative;
    top:-56px;
    left:395px;
}

.posChampsRecherche{
    width:40%;
}

.posVille{
    width:40%;
}

.posValide{
    position:absolute;
    top:-40px;
    right:60%;
    background-color:#03003f;
    color:white;
}

.posValide:hover{
    background-color:#aaa;
    color:white;
}

.posImgSortirCom{
    position:absolute;
    top:380px;
    right:37%;
    width:200px;
}

.posImgSortirCom1{
    position:absolute;
    top:280px;
    right:30%;
    width:200px;
}

.posImgSortirCom2{
    position:absolute;
    top:230px;
    right:22%;
    width:200px;
}

.posImgSortirCom, .posImgSortirCom1, .posImgSortirCom2{
    box-shadow: 2px 2px 5px darkgrey;
}


.warningMessage{
    color:red;
    font-weight:800;
}

footer{
    margin-top:50px;
    text-align:center;
}